:root {
    --bs-primary: #cdb6a5;
    --bs-primary-rgb: 255, 0, 0;
}
@font-face {
    font-family: "Le Jour Script";
    src: url(../fonts/le-jour-script.otf);
    format("otf");
}

.le-jour-font {
    font-family: "Le Jour Script", cursive;
}

h1 {
    /*font-family: "Le Jour Script", cursive;*/
    font-size: calc(3rem + 1.5vw)
}
h2 {
    /*font-family: "Le Jour Script", cursive;*/
    font-size: calc(2rem + 1.5vw)
}

h3 {
    text-align: center;
}

p {
    font-size: calc(1.3rem + .6vw);
    text-align: center;
}

.mt-n10 {
  margin-top: -10rem !important;
}

.torn {
    position: relative;
  /*background: url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png) 0;*/
  /*padding: 1em;*/


}

.torn:before, .torn:after {
    content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  left: 0;
  clip-path: polygon(1% 0%, 4% 100%, 9% 0%, 13% 100%, 19% 1%, 21% 100%, 26% 5%, 30% 100%, 36% 2%, 43% 100%, 50% 1%, 52% 100%, 61% 0%, 69% 94%, 70% 0%, 76% 100%, 81% 0%, 84% 100%, 91% 0%, 97% 100%, 99% 3%);
}

.torn:before {
  background-color: #2e3537;
  top: 0;
}

/*body {*/
/*  background: #a7a7a7;*/
/*  padding: 20px;*/
/*}*/

/*.custom-btn {*/
/*    background: #cdb6a5*/
/*}*/